# Importing Librarires

In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’

In [5]:
def wiki_scrap (url):
    page = requests.get(url)
    print(url)
    soup = BeautifulSoup(page.content)
    title = soup.find_all(['h1','h2','h3','h4','h5'])
    title_h =[]
    for i in title :
        print('Heading',title.index(i))
        print('_____________________________')
        print(i.text)

In [6]:
url = "http://en.wikipedia.org/wiki/Main_Page"
headings = wiki_scrap(url)
print(headings)

http://en.wikipedia.org/wiki/Main_Page
Heading 0
_____________________________
Main Page
Heading 1
_____________________________
From today's featured article
Heading 2
_____________________________
Did you know ...
Heading 3
_____________________________
In the news
Heading 4
_____________________________
On this day
Heading 5
_____________________________
Today's featured picture
Heading 6
_____________________________
Other areas of Wikipedia
Heading 7
_____________________________
Wikipedia's sister projects
Heading 8
_____________________________
Wikipedia languages
Heading 9
_____________________________
Navigation menu
Heading 10
_____________________________
 Personal tools

Heading 11
_____________________________
 Namespaces

Heading 12
_____________________________
 Variants
expanded
collapsed

Heading 13
_____________________________
 Views

Heading 14
_____________________________
 More
expanded
collapsed

Heading 15
_____________________________

Search

Heading 16
_____________________________
 Navigation

Heading 17
_____________________________
 Contribute

Heading 18
_____________________________
 Tools

Heading 19
_____________________________
 Print/export

Heading 20
_____________________________
 In other projects

Heading 21
_____________________________
 Languages

None

# Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame

In [8]:
def imdb_hollywood(url):
    html = url
    page = requests.get(html)
    print('Responce received',page)
    soup = BeautifulSoup(page.content)
    mov_lst = soup.find_all('div',class_ ='lister-item mode-detail')
    print('Scrapping Completed')
    movie =[]
    year =[]
    rate = []
    for i in mov_lst :
        movie.append(i.h3.a.text)
        year.append(i.h3.find('span',class_='lister-item-year text-muted unbold').text)
        rate.append(i.find('span',class_ ='ipl-rating-star__rating').text)
    IMDB_hollywood= pd.DataFrame({})
    IMDB_hollywood['Name']=movie
    IMDB_hollywood['IMDB rating']=rate
    IMDB_hollywood['Year of release']=year
    return IMDB_hollywood

In [35]:
## Calling Function
print('lets find the list of best hollowood movies in IMDB')
url ='https://www.imdb.com/list/ls091520106/'
list_movie = imdb_hollywood(url)
list_movie

lets find the list of best hollowood movies in IMDB
Responce received <Response [200]>
Scrapping Completed

                                   Name IMDB rating Year of release
0              The Shawshank Redemption         9.3          (1994)
1                         The Godfather         9.2          (1972)
2                The Godfather: Part II           9          (1974)
3                       The Dark Knight           9          (2008)
4                          12 Angry Men           9          (1957)
..                                  ...         ...             ...
95                   North by Northwest         8.3          (1959)
96                   A Clockwork Orange         8.3          (1971)
97                               Snatch         8.3          (2000)
98  Le fabuleux destin d'Amélie Poulain         8.3          (2001)
99                              The Kid         8.3          (1921)

[100 rows x 3 columns]

# Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [10]:
def imdb_bollywood(url):
    html = url
    page = requests.get(html)
    print('Responce received',page)
    soup = BeautifulSoup(page.content)
    mov_lst = soup.find_all('div',class_ ='lister-item mode-detail')
    print('Scrapping Completed')
    movie =[]
    year =[]
    rate = []
    for i in mov_lst :
        movie.append(i.h3.a.text)
        year.append(i.h3.find('span',class_='lister-item-year text-muted unbold').text)
        rate.append(i.find('span',class_ ='ipl-rating-star__rating').text)
    IMDB_bollywood= pd.DataFrame({})
    IMDB_bollywood['Name']=movie
    IMDB_bollywood['IMDB rating']=rate
    IMDB_bollywood['Year of release']=year
    return IMDB_bollywood

In [ ]:
##FUNCTION CALLING 
print('lets find the list of best Hindi movies in IMDB')
url ="https://www.imdb.com/list/ls009997493/"
html = imdb_bollywood(url)
html

# Write a python program to scrap book name, author name, genre and book review of any 5 books from

In [11]:
def book_review(url) :
    page= requests.get(url)
    print (page)
    soup = BeautifulSoup(page.content)
    print ('Web Scrapping completed')
    book_lst = soup.find_all('div',class_ ='row-fluid article-row')
    Book_name= []
    Author_name= []
    Genre= []
    Review = []
    for  b in book_lst :
        Book_name.append(b.h4.a.text.strip())
        Author_name.append(b.p.text.strip())
        Review.append(b.find('p',class_="excerpt").text.strip()) 
        genre_part = b.find('p',class_='genre-links hidden-phone')
        genre_all =genre_part.findChildren("a" , recursive=False)
        k = 'Genre :'
        for i in genre_all:
            k = k + i.text +' '
        Genre.append(k)
        if len(Book_name)>4 :
            break
        
    Book_review =pd.DataFrame({})
    Book_review['Book_name'] =Book_name
    Book_review['Author_name']=Author_name
    Book_review['Genre'] =Genre
    Book_review['Review']=Review
    return Book_review

In [12]:
print ('**** Books and Review ****')
url = 'https://bookpage.com/reviews'
review = book_review(url)
review

**** Books and Review ****
<Response [200]>
Web Scrapping completed

,Book_name,Author_name,Genre,Review
0,★ Carry On,"John Lewis, Don Cheadle",Genre :Audio Nonfiction Essays,While John Lewis was unable to record his essa...
1,The Morning Star,"Karl Ove Knausgaard, Martin Aitken",Genre :Fiction Literary Fiction,"The Morning Star is dark, eerie, mesmerizing a..."
2,★ The Beatryce Prophecy,"Kate DiCamillo, Sophie Blackall",Genre :Children's Middle Grade,
3,The Wrong End of the Telescope,Rabih Alameddine,Genre :Fiction Literary Fiction,“Writing does not force coherence onto a disco...
4,★ The Speckled Beauty,Rick Bragg,Genre :Nonfiction Memoir Animals,The Speckled Beauty confirms Rick Bragg’s endu...

# Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:


i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [13]:
def men_team_rtgs(url):
    page =requests.get(url)
    print('Response received :',page)
    soup =BeautifulSoup(page.content)
    rank=[]
    country=[]
    matches =[]
    points =[]
    rating=[]
    others =[]
    best_team = soup.find_all('tr',class_="rankings-block__banner")
    for i in best_team :
        rnk =i.find('td',class_='rankings-block__banner--pos')
        rank.append(rnk.text)
        ctry = i.find('span',class_ ='u-hide-phablet')
        country.append(ctry.text.strip())
        mtch = i.find('td',class_ ='rankings-block__banner--matches')
        matches.append(mtch.text.strip())
        pts = i.find('td',class_ ='rankings-block__banner--points')
        points.append(pts.text.strip())
        rate = i.find('td',class_ ='rankings-block__banner--rating u-text-right')
        rating.append(rate.text.strip())
    team_odi = soup.find_all('tr',class_='table-body')
    for i in team_odi :
        rnk =i.find('td',class_='table-body__cell table-body__cell--position u-text-right')
        rank.append(rnk.text)
        ctry = i.find('span',class_ ='u-hide-phablet')
        country.append(ctry.text.strip())
        rate = i.find('td',class_ ='table-body__cell u-text-right rating')
        rating.append(rate.text.strip())
        other = i.find_all('td', class_="table-body__cell u-center-text")
        for j in other :
            others.append(j.text)
        if len(rating) == 10:
            break
    mtch = others[0::2]
    pnts = others[1::2]
    matches =matches.extend(mtch)
    points =points.extend(pnts)
    ODI_MEN_TEAM_RATINGS = pd.DataFrame([])
    ODI_MEN_TEAM_RATINGS["rank"] =rank
    ODI_MEN_TEAM_RATINGS["country"] =country
    ODI_MEN_TEAM_RATINGS["matches"] =matches
    ODI_MEN_TEAM_RATINGS["points"] =points
    ODI_MEN_TEAM_RATINGS["rating"] =rating
    return ODI_MEN_TEAM_RATINGS

In [14]:
print('****** ICC TEAM RATING MEN ODI ')
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
ICC_MEN_ODI_TEAM_RANK= men_team_rtgs(url)
ICC_MEN_ODI_TEAM_RANK

****** ICC TEAM RATING MEN ODI
Response received : <Response [200]>

  rank       country matches points rating
0    1   New Zealand    None   None    121
1    2       England    None   None    119
2    3     Australia    None   None    116
3    4         India    None   None    113
4    5  South Africa    None   None     98
5    6      Pakistan    None   None     93
6    7    Bangladesh    None   None     91
7    8   West Indies    None   None     84
8    9     Sri Lanka    None   None     83
9   10   Afghanistan    None   None     62

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [15]:
def icc_men_bat_odi(url) :
    page = requests.get(url)
    soup = BeautifulSoup(page.content)
    w_best_bat =  soup.find_all('tr',class_='rankings-block__banner')
    rank =[]
    name=[]
    country=[]
    points =[]
    for i in w_best_bat :
        rnk = i.find('td',class_ ='rankings-block__position')
        nme = i.find('div',class_ ='rankings-block__banner--name-large')
        ctr = i.find('div',class_ ='rankings-block__banner--nationality')
        pts = i.find('div',class_ ='rankings-block__banner--rating')
        rank.append(rnk.text.strip())
        name.append(nme.text.strip())
        country.append(ctr.text.strip())
        points.append(pts.text.strip())
    w_bat =  soup.find_all('tr',class_='table-body')
    for i in w_bat :
        rnk = i.find('td',class_ ='table-body__cell table-body__cell--position u-text-right')
        nme = i.find('a')
        ctr = i.find('span',class_ ='table-body__logo-text')
        pts = i.find('td',class_ ='table-body__cell rating')
        rank.append(rnk.text.strip())
        name.append(nme.text.strip())
        country.append(ctr.text.strip())
        points.append(pts.text.strip())
        if len(points) == 10:
            break
    ODI_MEN_ODI__BAT_Ratings = pd.DataFrame([])
    ODI_MEN_ODI__BAT_Ratings["Position"] =rank
    ODI_MEN_ODI__BAT_Ratings["Player Name"] =name
    ODI_MEN_ODI__BAT_Ratings["Team"] =country
    ODI_MEN_ODI__BAT_Ratings["Rating"] =points
    return ODI_MEN_ODI__BAT_Ratings

In [ ]:
print('ODI BATESMEN RATING')
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
rank =icc_men_bat_odi(url)
rank

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [16]:
def icc_men_bowl_odi(url) :
    
    page = requests.get(url)
    soup = BeautifulSoup(page.content)
    best_bowl= soup.find_all('tr',class_='rankings-block__banner')
    rank =[]
    name=[]
    country=[]
    points =[]
    for i in best_bowl :
        rnk = i.find('td',class_ ='rankings-block__position')
        nme = i.find('div',class_ ='rankings-block__banner--name-large')
        ctr = i.find('div',class_ ='rankings-block__banner--nationality')
        pts = i.find('div',class_ ='rankings-block__banner--rating')
        rank.append(rnk.text.strip())
        name.append(nme.text.strip())
        country.append(ctr.text.strip())
        points.append(pts.text.strip())
    bowl_odi = soup.find_all('tr',class_='table-body')
    for i in bowl_odi :
        rnk = i.find('td',class_ ='table-body__cell table-body__cell--position u-text-right')
        nme = i.find('a')
        ctr = i.find('span',class_ ='table-body__logo-text')
        pts = i.find('td',class_ ='table-body__cell rating')
        rank.append(rnk.text.strip())
        name.append(nme.text.strip())
        country.append(ctr.text.strip())
        points.append(pts.text.strip())
        if len(rank) == 10:
            break
    ODI_BOWLING_Ratings = pd.DataFrame([])
    ODI_BOWLING_Ratings["Position"] =rank
    ODI_BOWLING_Ratings["Player Name"] =name
    ODI_BOWLING_Ratings["Team"] =country
    ODI_BOWLING_Ratings["Rating"] =points
    return ODI_BOWLING_Ratings

In [ ]:
print('ODI Bowler RATING')
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
rank =icc_men_bowl_odi(url)
rank

# Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:


i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [17]:

def women_team_rtgs(url):
    page =requests.get(url)
    print('Response received :',page)
    soup =BeautifulSoup(page.content)
    rank=[]
    country=[]
    matches =[]
    points =[]
    rating=[]
    others =[]
    best_team = soup.find_all('tr',class_="rankings-block__banner")
    for i in best_team :
        rnk =i.find('td',class_='rankings-block__banner--pos')
        rank.append(rnk.text)
        ctry = i.find('span',class_ ='u-hide-phablet')
        country.append(ctry.text.strip())
        mtch = i.find('td',class_ ='rankings-block__banner--matches')
        matches.append(mtch.text.strip())
        pts = i.find('td',class_ ='rankings-block__banner--points')
        points.append(pts.text.strip())
        rate = i.find('td',class_ ='rankings-block__banner--rating u-text-right')
        rating.append(rate.text.strip())
    team_odi = soup.find_all('tr',class_='table-body')
    for i in team_odi :
        rnk =i.find('td',class_='table-body__cell table-body__cell--position u-text-right')
        rank.append(rnk.text)
        ctry = i.find('span',class_ ='u-hide-phablet')
        country.append(ctry.text.strip())
        rate = i.find('td',class_ ='table-body__cell u-text-right rating')
        rating.append(rate.text.strip())
        other = i.find_all('td', class_="table-body__cell u-center-text")
        for j in other :
            others.append(j.text)
        if len(rating) == 10:
            break
    mtch = others[0::2]
    pnts = others[1::2]
    matches =matches.extend(mtch)
    points =points.extend(pnts)
    ODI_WOMEN_TEAM_RATINGS = pd.DataFrame([])
    ODI_WOMEN_TEAM_RATINGS["rank"] =rank
    ODI_WOMEN_TEAM_RATINGS["country"] =country
    ODI_WOMEN_TEAM_RATINGS["matches"] =matches
    ODI_WOMEN_TEAM_RATINGS["points"] =points
    ODI_WOMEN_TEAM_RATINGS["rating"] =rating
    return ODI_WOMEN_TEAM_RATINGS

In [ ]:
print('****** ICC TEAM RATING WOMEN ODI ')
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
ICC_WOMEN_ODI_TEAM_RANK= women_team_rtgs(url)
ICC_WOMEN_ODI_TEAM_RANK

# ii) Top 10 women’s ODI players along with the records of their team and rating.

In [ ]:
def w_odi_bat(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.content)
    w_best_bat =  soup.find_all('tr',class_='rankings-block__banner')
    rank =[]
    name=[]
    country=[]
    points =[]
    for i in w_best_bat :
        rnk = i.find('td',class_ ='rankings-block__position')
        nme = i.find('div',class_ ='rankings-block__banner--name-large')
        ctr = i.find('div',class_ ='rankings-block__banner--nationality')
        pts = i.find('div',class_ ='rankings-block__banner--rating')
        rank.append(rnk.text.strip())
        name.append(nme.text.strip())
        country.append(ctr.text.strip())
        points.append(pts.text.strip())
    w_bat =  soup.find_all('tr',class_='table-body')
    for i in w_bat :
        rnk = i.find('td',class_ ='table-body__cell table-body__cell--position u-text-right')
        nme = i.find('a')
        ctr = i.find('span',class_ ='table-body__logo-text')
        pts = i.find('td',class_ ='table-body__cell rating')
        rank.append(rnk.text.strip())
        name.append(nme.text.strip())
        country.append(ctr.text.strip())
        points.append(pts.text.strip())
        if len(points) == 10:
            break
    ODI_Women_ODI__BAT_Ratings = pd.DataFrame([])
    ODI_Women_ODI__BAT_Ratings["Position"] =rank
    ODI_Women_ODI__BAT_Ratings["Player Name"] =name
    ODI_Women_ODI__BAT_Ratings["Team"] =country
    ODI_Women_ODI__BAT_Ratings["Rating"] =points
    return ODI_Women_ODI__BAT_Ratings

In [18]:
url ="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
women_odi_bat= w_odi_bat(url)
women_odi_bat

NameError: name 'w_odi_bat' is not defined

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [19]:
def w_odi_all (url):
    page = requests.get(url)
    soup = BeautifulSoup(page.content)
    w_best_all_odi =  soup.find_all('tr',class_='rankings-block__banner')
    rank =[]
    name=[]
    country=[]
    points =[]
    for i in w_best_all_odi :
        rnk = i.find('td',class_ ='rankings-block__position')
        nme = i.find('div',class_ ='rankings-block__banner--name-large')
        ctr = i.find('div',class_ ='rankings-block__banner--nationality')
        pts = i.find('div',class_ ='rankings-block__banner--rating')
        rank.append(rnk.text.strip())
        name.append(nme.text.strip())
        country.append(ctr.text.strip())
        points.append(pts.text.strip())
    w_all_odi =  soup.find_all('tr',class_='table-body')
    for i in w_all_odi :
        rnk = i.find('td',class_ ='table-body__cell table-body__cell--position u-text-right')
        nme = i.find('a')
        ctr = i.find('span',class_ ='table-body__logo-text')
        pts = i.find('td',class_ ='table-body__cell rating')
        rank.append(rnk.text.strip())
        name.append(nme.text.strip())
        country.append(ctr.text.strip())
        points.append(pts.text.strip())
        if len(points) == 10:
            break
    ODI_Women_ODI_Ratings = pd.DataFrame([])
    ODI_Women_ODI_Ratings["Position"] =rank
    ODI_Women_ODI_Ratings["Player Name"] =name
    ODI_Women_ODI_Ratings["Team"] =country
    ODI_Women_ODI_Ratings["Rating"] =points
    return ODI_Women_ODI_Ratings

In [20]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
all_rounder_rank= w_odi_all(url)
all_rounder_rank

,Position,Player Name,Team,Rating
0,1,Marizanne Kapp,SA,419
1,2\n \n\n\n\nThis player has moved down ...,Ellyse Perry,AUS,418
2,3\n \n\n\n\nThis player has moved up in...,Natalie Sciver,ENG,365
3,4\n \n\n\n\nThis player has moved down ...,Stafanie Taylor,WI,364
4,5,Deepti Sharma,IND,331
5,6,Jess Jonassen,AUS,307
6,7,Dane van Niekerk,SA,270
7,8,Ashleigh Gardner,AUS,252
8,9,Sophie Devine,NZ,242
9,10,Katherine Brunt,ENG,239

# 8. Write a python program to extract information about the local weather from the National Weather Service

In [23]:
def weather_service(url):
    html = url
    page = requests.get(html)
    print('Website Status',page)
    soup =  BeautifulSoup(page.content)
    period_l=soup.find_all('p',class_ = 'period-name')
    sdesc_l = soup.find_all('p','short-desc')
    t_low =soup.find_all('p','temp temp-low')
    t_high =soup.find_all('p','temp temp-high')
    print('Scrapping Completed')
    period =[]
    for i in period_l:
        period.append(i.text)
    sdesc =[]
    for j in sdesc_l:
        sdesc.append(j.text)
    min_temp = []
    for k in t_low :
        min_temp.append(k.text)
    max_temp = []
    for k in t_high :
        max_temp.append(k.text)
    temp_f = []
    if period[0]=='Today' :
        temp_f =[None]*(len(min_temp)+len(max_temp))
        temp_f[::2]= max_temp
        temp_f[1::2]= min_temp
    else:
        temp_f =[None]*(len(min_temp)+len(max_temp))
        temp_f[::2]= min_temp
        temp_f[1::2]= max_temp
    weather = pd.DataFrame({})
    weather['Period'] =period
    weather['Tempareture'] =temp_f
    #weather['Max_Temp'] =max_temp
    weather['Short_Descriptipn'] =sdesc
    return weather

In [22]:
print ('**** Weather Forcast ****')
weather_url = "https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YM2fa_LivDc" 
report = weather_service(weather_url)
pd.DataFrame(report)

**** Weather Forcast ****
Website Status <Response [200]>
Scrapping Completed

           Period  Tempareture                        Short_Descriptipn
0           Today  High: 78 °F                                    Sunny
1         Tonight   Low: 61 °F                             Mostly Clear
2         Tuesday  High: 87 °F                                    Sunny
3    TuesdayNight   Low: 58 °F                             Mostly Clear
4       Wednesday  High: 72 °F                                    Sunny
5  WednesdayNight   Low: 56 °F  Mostly Clearand Breezythen PartlyCloudy
6        Thursday  High: 75 °F                             Mostly Sunny
7   ThursdayNight   Low: 58 °F                            Partly Cloudy
8          Friday  High: 73 °F                                    Sunny

# 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date

In [24]:
def wb_scrap(url):
    page = requests.get(url)
    print(page)
    soup= BeautifulSoup(page.content)
    title_all = soup.find_all('div',class_= "heading_4_5 profile")
    print ('Scrapping Completed')
    job_title = []
    for i in title_all :
        job_title.append(i.text.replace('\n',''))
    comp_all = soup.find_all('a',class_="link_display_like_text")
    company =[]
    for j in comp_all:
        company.append(j.text.strip())
    loc_all = soup.find_all('p',id ='location_names')
    location =[]
    for l in loc_all :
        location.append(l.text.strip())
    job_det =soup.find_all('div',class_ ="item_body")
    j_details=[]
    for i in job_det :
        job_attr=i.text.strip().replace('\xa0' ,' ')
        j_details.append(job_attr)
    start = []
    pkg =[]
    doj = []
    start = j_details[0::3]
    pkg = j_details[1::3]
    doj = j_details[2::3]
    Intern = pd.DataFrame({})
    Intern['Company']= company
    Intern['Job-Title']=job_title
    Intern['Location']=location
    Intern['Starts From ']=start
    Intern['CTC']=pkg
    Intern['Last Date to apply']=doj
    
    
    return Intern

In [6]:
url_chk = "https://internshala.com/fresher-jobs"
data = wb_scrap(url_chk)
pd.DataFrame(data)

<Response [200]>
Scrapping Completed

,Company,Job-Title,Location,Starts From,CTC,Last Date to apply
0,Decathlon Sports India,Omni Sport Leader - Running/Walking,"Jaipur, Ajmer",Starts Immediately,3 - 3.4 LPA,7 Oct' 21
1,Backflip Design Studio,Junior Graphic Designer,Bangalore,Starts Immediately,3 - 3.5 LPA,20 Oct' 21
2,HireTale,Recruitment Executive,Jaipur,Starts Immediately,5 - 6 LPA,20 Oct' 21
3,IPayTotal,Lead Generation Specialist,Remote,Starts Immediately,3 - 4 LPA,20 Oct' 21
4,Enaviya Information Technologies Private Limited,Junior Software Developer,Bangalore,Starts Immediately,3 LPA,20 Oct' 21
5,Boongg,Application Developer,Pune,Starts Immediately,4 - 6 LPA,20 Oct' 21
6,UFaber Edutech,Business Development Executive,"Kolkata, Bangalore, Mumbai",Starts Immediately,3 - 4 LPA,20 Oct' 21
7,PlanetSpark,Curriculum Developer (English),Gurgaon,Starts Immediately,6.4 LPA,20 Oct' 21
8,Jaza Software,Full Stack Developer,Bangalore,Starts Immediately,4.25 - 5.5 LPA,20 Oct' 21
9,Krishworks,Flutter Developer,Remote,Starts Immediately,3 - 5 LPA,20 Oct' 21
10,Checkmate Industrial Guards Private Limited,Area Executive,"Delhi, Gurgaon, Noida",Starts Immediately,3 - 3.1 LPA,18 Oct' 21
11,Kaholas,Business Development And Research Executive,Delhi,Starts Immediately,3 LPA,18 Oct' 21
12,Stockarea,Frontend Developer (Vue.js),Remote,Starts Immediately,4 - 4.6 LPA,18 Oct' 21
13,Zenguruz Online Private Limited,Executive Assistant To Founder,Remote,Starts Immediately,3 LPA,18 Oct' 21
14,NLET Initiatives LLP,Business Development Executive,Jaipur,Starts Immediately,3 - 4 LPA,18 Oct' 21
15,PlanetSpark,Community Management Associate,Gurgaon,Starts Immediately,6.4 LPA,18 Oct' 21
16,Forage AI,Data Specialist,Remote,Starts Immediately,3 LPA,18 Oct' 21
17,MiM-Essay,Digital Marketing Associate,Delhi,Starts Immediately,4.2 - 5 LPA,18 Oct' 21
18,EnWe Clean Technologies Private Limited,Process & Proposal Engineer,"Faridabad, Delhi, Gurgaon, Greater Noida, Noida",Starts Immediately,3.6 - 3.7 LPA,18 Oct' 21
19,Pragna Technologies,US Recruiter Trainee,Bangalore,Starts Immediately,3 - 6 LPA,17 Oct' 21
20,Open Door Education,Sales Associate,Gurgaon,Starts Immediately,3 - 4 LPA,17 Oct' 21
21,Nyx Wolves,Junior Project Delivery Manager & Customer Rel...,Remote,Starts Immediately,3 - 3.6 LPA,17 Oct' 21
22,Nyx Wolves,IT Project Manager,Remote,Starts Immediately,3.7 - 4.7 LPA,17 Oct' 21
23,The Shirt Studio,Fashion Designer,Bangalore,Starts Immediately,3 - 3.6 LPA,17 Oct' 21
24,Vidhata Educare,Business Development Executive,Ahmedabad,Starts Immediately,3 - 3.5 LPA,17 Oct' 21
25,NNIIT,Teacher,Hyderabad,Starts Immediately,3 - 5 LPA,17 Oct' 21
26,Noisy Lion,Graphic Designer,Noida,Starts Immediately,3 - 6 LPA,17 Oct' 21
27,Leadgenerator,Content Writer (Sales),Remote,Starts Immediately,3 LPA,17 Oct' 21
28,HumLife360,Diabetes Lifestyle Behavioral Coach,"Pune, Mumbai",Starts Immediately,3.5 - 4 LPA,17 Oct' 21
29,Digite Infotech Private Limited,Functional Executive Trainee,Remote,Starts Immediately,3.5 - 4.5 LPA,16 Oct' 21
30,Jalpan Agro Foods Preparation,Field Sales Associate,"Bhubaneswar, Bokaro Steel City, Dhanbad, Asansol",Starts Immediately,3 - 3.2 LPA,16 Oct' 21
31,Redwood Algorithms,General Management Associate,Remote,Starts Immediately,4 - 5 LPA,16 Oct' 21
32,Devship (OPC) Private Limited,Software Developer (Full Stack Web Development),Chennai,Starts Immediately,3 - 4 LPA,16 Oct' 21
33,Educase India,Junior Mobile App Developer,Remote,Starts Immediately,3 LPA,16 Oct' 21
34,Wingman,Junior Backend Developer,Remote,Starts Immediately,7 - 12 LPA,16 Oct' 21
35,LionCircuits,Junior Full Stack Developer,"Bangalore, Chennai",Starts Immediately,3 - 5 LPA,16 Oct' 21
36,Spottabl,Supply Associate,Remote,Starts Immediately,3 - 4 LPA,16 Oct' 21
37,GMoney Private Limited,Assistant Manager - Sales,"Delhi, Pune, Mumbai, Bangalore",Starts Immediately,3.5 - 3.76 LPA,16 Oct' 21
38,UFaber Edutech,Inside Sales Executive,"Ahmedabad, Kolkata, Bangalore, Hyderabad, Mumbai",Starts Immediately,3 - 4 LPA,16 Oct' 21
39,Chittoo Tech,Junior Full Stack Developer,Bangalore,Starts Immediately,3.6 - 4.2 LPA,16 Oct' 21

# 10 .Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price

In [25]:
def no_broker(url):
    page = requests.get(url)
    print(page)
    soup= BeautifulSoup(page.content)
    prop_title = soup.find_all('div',class_ ='nb__2JHKO')
    title = []
    for i in prop_title :
        title.append(i.h2.span.text)
    sqft = soup.find_all('div',class_='nb__3oNyC')
    area = []
    for i in sqft :
        area.append(i.text)
    prop_emi = soup.find_all('div',id ='roomType')
    emi = []
    for i in prop_emi :
        emi.append(i.text)
    prop_loc = soup.find_all('div',class_ ='nb__2CMjv')
    loc = []
    for i in prop_loc :
        loc.append(i.text)
    prop_price =soup.find_all("div", id ="minDeposit")
    price = []
    for i in prop_price :
        j = i.find('div',class_='font-semi-bold heading-6')
        price.append(j.text)
    NO_BROKER_LIST =pd.DataFrame({})
    NO_BROKER_LIST['Availaible'] =title
    NO_BROKER_LIST['Locality'] =loc
    NO_BROKER_LIST['Total_AREA']=area
    NO_BROKER_LIST['Pricre']=price
    NO_BROKER_LIST['Monthly_EMI'] =emi
    return NO_BROKER_LIST

In [26]:
print ('**** NO BROKER LIST ****')
url = "https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0"
html_chk  =no_broker(url)
html_chk

**** NO BROKER LIST ****
<Response [200]>

,Availaible,Locality,Total_AREA,Pricre,Monthly_EMI
0,4 BHK In Independent House For Sale In Hebba...,"Independent House, Bangalore - Hosur Road, Nea...","1,800 sqft",₹1.5 Crores,"₹85,971/Month"
1,4 BHK In Independent House For Sale In Elect...,"Independent House, surya nagar face 1","3,000 sqft",₹2.5 Crores,₹1.43 Lacs/Month
2,4 BHK In Independent House For Sale In Elect...,"Independent House, Hosur Rd,Near Infosys Limited","1,200 sqft",₹75 Lacs,"₹42,985/Month"
3,4 BHK In Independent House For Sale In Anant...,"Independent House, Glass factory Outlet nd cro...","2,200 sqft",₹80 Lacs,"₹45,851/Month"
4,4 BHK Flat For Sale In Sobha Silicon Oasis ...,"Sobha Silicon Oasis Naganathapura, Rayasandra ...","1,879 sqft",₹1.55 Crores,"₹88,837/Month"
5,4 BHK Apartment For Sale In Gopalan Gardenia...,"Gopalan Gardenia Gopalan gardenia, Veerasandr...","2,650 sqft",₹1.2 Crores,"₹68,777/Month"
6,4 BHK For Sale In Gpr Royale In Gpr Royale,6th Cross,"3,100 sqft",₹1.5 Crores,"₹85,971/Month"
7,4 BHK Flat For Sale In Electronic City,"Standalone Building, Shikaripalya near Shams S...","1,400 sqft",₹35 Lacs,"₹20,060/Month"
8,4 BHK In Independent House For Sale In Sarja...,"Independent House, Shantipura Village , S.P L...","1,100 sqft",₹70 Lacs,"₹40,120/Month"
9,4 BHK In Independent House For Sale In Nagan...,"Independent House, Doddanagamangala Rd opposit...","1,500 sqft",₹80 Lacs,"₹45,851/Month"